<form class="form-inline">

  <div class="form-group">
    <input type="text" class="form-control" id= "place" placeholder="Where?">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id= "when" placeholder="When?">
  </div>

  <div class="form-group">
    <select class="custom-select form-control" style="background-color: white; color: #7f7f7f">
      <option value="1">1 Guest</option>
      <option value="2">2 Guests</option>
      <option value="3">3 Guests</option>
    </select>
  </div>

  <div class="form-group">
  <button type="submit" class="btn btn-primary form-control">Search</button>
  </div>

</form>

